ENVIRONMENT=dev

SECURITY_CRYPTOGRAPHY_ALGORITHM=aes-256-gcm
SECURITY_CRYPTOGRAPHY_KEY=

SECURITY_CRYPTOGRAPHY_BREAKPOINT=
SECURITY_CRYPTOGRAPHY_AUTH_BREAKPOINT=
SECURITY_CRYPTOGRAPHY_IV_BREAKPOINT=
SECURITY_CRYPTOGRAPHY_HASH_BREAKPOINT=
SECURITY_CRYPTOGRAPHY_SALT_BREAKPOINT=

AUTH_TOKEN_SECRET=

#MONGO_INITDB_ROOT_USERNAME=root
#MONGO_INITDB_ROOT_PASSWORD=root

ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=root
ME_CONFIG_MONGODB_URL= mongodb://root:root@mongo:27017


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb://root:root@mongo:27017/twitter_db?authSource=admin"
